module {{modulePath}}

go {{if .UsesBrowserHTTPTransport}}1.25{{else}}1.23{{end}}

require (
{{- if .UsesBrowserHTTPTransport}}
	github.com/enetx/surf v1.0.199
{{- end}}
	github.com/spf13/cobra v1.9.1
{{- if .HasHTMLExtraction}}
	golang.org/x/net v0.43.0
{{- end}}
{{- if eq .Config.Format "toml"}}
	github.com/pelletier/go-toml/v2 v2.2.4
{{- end}}
)

{{- if .VisionSet.Store}}
require modernc.org/sqlite v1.37.0
{{- end}}

{{- if .VisionSet.MCP}}
require github.com/mark3labs/mcp-go v0.47.0
{{- end}}
