version: 2
project_name: {{.Name}}-pp-cli
changelog:
  disable: true
builds:
  - id: {{.Name}}-pp-cli
    main: ./cmd/{{.Name}}-pp-cli
    binary: {{.Name}}-pp-cli
    env:
      - CGO_ENABLED=0
    ldflags:
      - -s -w -X {{modulePath}}/internal/cli.version={{"{{"}} .Version {{"}}"}}
    targets:
      - darwin_amd64
      - darwin_arm64
      - linux_amd64
      - linux_arm64
      - windows_amd64
      - windows_arm64
{{- if .VisionSet.MCP}}
  - id: {{.Name}}-pp-mcp
    main: ./cmd/{{.Name}}-pp-mcp
    binary: {{.Name}}-pp-mcp
    env:
      - CGO_ENABLED=0
    ldflags:
      - -s -w
    targets:
      - darwin_amd64
      - darwin_arm64
      - linux_amd64
      - linux_arm64
      - windows_amd64
      - windows_arm64
{{- end}}
archives:
  - formats: [tar.gz]
    name_template: "{{"{{"}} .ProjectName {{"}}"}}_{{"{{"}} .Version {{"}}"}}_{{"{{"}} .Os {{"}}"}}_{{"{{"}} .Arch {{"}}"}}"
    format_overrides:
      - goos: windows
        formats: [zip]
checksum:
  name_template: checksums.txt
brews:
  - name: {{.Name}}-pp-cli
    repository:
      owner: {{.Owner}}
      name: homebrew-tap
    homepage: "https://github.com/{{.Owner}}/{{.Name}}-pp-cli"
    description: "{{.Description}}"
    install: |
      bin.install "{{.Name}}-pp-cli"
{{- if .VisionSet.MCP}}
      bin.install "{{.Name}}-pp-mcp"
{{- end}}
